<a href="https://colab.research.google.com/github/Mhsm2012/Diabetes_prediction_system/blob/main/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing requied libraies

In [2]:
import pandas as pd
import sqlite3 as sq3 # to deal with sqlite data
import pandas.io.sql as pds

In [3]:
# create a path and make a connection to database 
path='/content/classic_rock.db'
con= sq3.Connection(path)

In [7]:
# reading data from database file
query = '''SELECT * FROM rock_songs'''
observations = pd.read_sql(query,con)
observations.head()

                     Song        Artist  Release_Year  PlayCount
0        Caught Up in You   .38 Special        1982.0         82
1         Hold On Loosely   .38 Special        1981.0         85
2  Rockin' Into the Night   .38 Special        1980.0         18
3       Art For Arts Sake          10cc        1975.0          1
4              Kryptonite  3 Doors Down        2000.0         13